<h1>Seja Bem-Vindo ao <%=application_name%></h1>
<p>Data de hoje: <%= date_helper Date.today%></p>

<%= render "menu" #partials, renderizando o arquivo _menu.html.erb %> 

<p>
    Você está no ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
    Meu nome é <strong><%= @nome %></strong>
</p>
